<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://jareczeq.pl:3306/gameworld?serverTimezone=Europe/Warsaw</property>
        <property name="hibernate.connection.username">sdacademy</property>
        <property name="hibernate.connection.password">Sdacademy1!</property>
        <property name="hibernate.connection.autocommit">true</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">validate</property>

        <!-- W Springu można skanować pakiety w poszukiwaniu encji - niestety, goły hibernate tego nie ma -->
        <mapping class="com.sdacademy.gameworld.models.User"/>
        <mapping class="com.sdacademy.gameworld.models.Address"/>
        <mapping class="com.sdacademy.gameworld.models.Country"/>
        <mapping class="com.sdacademy.gameworld.models.Game"/>
        <mapping class="com.sdacademy.gameworld.models.Order"/>
    </session-factory>
</hibernate-configuration>

