.games-filter-menu {
    position: sticky;
    top: 15px;
    float: left;
    width: 200px;
}

.games-filter-name {
    display: inline-block;
    padding: 10px 0;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
}

.games-filter-name i {
    margin-right: 10px;
}

.game-filter-columns {
    display: none;
}
.game-filter-columns.active {
    display: block;
}

.game-filter-column {
    margin-bottom: 20px;
}

.game-filter-column:last-of-type {
    margin-bottom: 0;
}

.game-filter-column input, .game-filter-column select, .game-filter-column option {
    border: 2px solid black;
    border-radius: 5px;
    height: 30px;
    width: 75%;
}

.games-column {
    display: flex;
    margin-bottom: 50px;
}

.games-column-image {
    height: auto;
    width: 125px;
    margin-right: 25px;
}

.games-column-info {

}

.games-name {
    margin-bottom: 10px;
    letter-spacing: -1px;
}

@media only screen and (max-width: 991px) {
    .games-filter-menu {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .games-column {
        justify-content: center;
    }
}