form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 25px 0;
}

form input[type='text'], form input[type='password'], form input[type='date'] {
    transition-property: color, border;
    transition-duration: 0.25s;
    width: 350px;
    height: 45px;
    margin: 10px 0;
    padding: 0 15px;
    border: 2px solid #2d3436;
    border-radius: 5px;
    font-weight: 500;
}

form input[type='text']:hover, form input[type='password']:hover, form input[type='date']:hover {
    border: 2px solid red;
}

form input[type='text']:focus, form input[type='password']:focus, form input[type='date']:focus {
    border: 2px solid red;
    border-radius: 5px;
    outline: none;
}

button {
    transition-property: color, border;
    transition-duration: 0.25s;
    cursor: pointer;
    padding: 10px 25px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #2d3436;
    font-weight: 600;
}

button:hover {
    border: 2px solid red;
    color: red;
}