<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

    <div th:insert="fragments/head :: head"></div>


    <link rel="stylesheet" type="text/css" href="css/login.css">

</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>

<main>
    <header style="text-align: center">
        <div class="container">
            <h2>Zaloguj się!</h2>
            <form action="" method="post">
                <input name="login" type="text" placeholder="Podaj login lub e-mail..." required>
                <input name="password" type="password" placeholder="Podaj hasło..." required>
                <button type="submit">Zaloguj się!</button>
            </form>

            <a href="#">Nie masz konta? Zarejestruj się!</a>
        </div>
    </header>
</main>
<script type="text/javascript" src="scripts/navbar-search.js"></script>
<script type="text/javascript">

</script>
</body>
</html>