<link rel="stylesheet" type="text/css" href="styles/navbar.css">
<nav class="navbar">
    <a href="#">
        <img class="navbar-logo" src="images/logo.png">
    </a>
    <div class="navbar-search-menu">
        <input class="navbar-search" type="text" placeholder="Podaj nazwę gry..."/>
        <a class="navbar-search-clear" href="#"><i class="fas fa-times"></i></a>
    </div>
    <div class="navbar-menu">
        <ul class="navbar-menu-list">
            <li class="navbar-menu-list-item">
                <a href="listgames.html">
                    <i class="fas fa-list-ul"></i>
                    Lista Gier
                </a>
            </li>
            <li class="navbar-menu-list-item">
                <a href="#">
                    <i class="far fa-user"></i>
                    Zaloguj się
                </a>
            </li>
        </ul>
    </div>
</nav>
<script type="text/javascript" src="scripts/navbar-search.js"></script>