<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>GameWorld » Logowanie</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap-grid.css">
    <link rel="stylesheet" href="vendors/fontawesome/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="application/javascript" src="vendors/jquery/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/navbar.css">
    <link rel="stylesheet" type="text/css" href="css/register.css">
</head>
<body>
    <main>
        <navbar th:insert="fragments/navbar :: navbar"></navbar>
        <header>
            <div style="text-align: center">
                <div class="container">
                    <h2>Założ konto!</h2>
                    <form action="" method="post">
                        <input name="login" type="text" placeholder="Podaj login..."/>
                        <input name="password" type="password" placeholder="Podaj hasło..."/>
                        <input name="password_confirm" type="password" placeholder="Powtórz hasło..."/>
                        <input name="email" type="text" placeholder="Podaj e-mail.."/>
                        <input name="date" type="date" placeholder="Podaj datę urodzenia..."/>
                        <button type="submit">Zarejestruj się!</button>
                    </form>
                </div>
            </div>
        </header>
        <script type="text/javascript" src="scripts/navbar-search.js"></script>
    </main>
</body>
</html>